#img {
    width: 100%;
}

.eg_img {
    display: inline-block;
    width:85%;
}

.modal-dialog {
    width:90%;
}

#game_console {
    background: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding:27px;
    width: 60%;
}
